html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
}

.titulo {
    text-align: center;
}

#inputCalculadora {
    font-size: 24px;
    width: 100%;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-calculadora {
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
}

.row div{
    padding: 0;
}

.row div button {
    width: 100%;
}