.titulo {
    text-align: center;
}

#inputCalculadora {
    font-size: 24px;
    width: 100%;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-calculadora {
    max-width: 600px;
    margin: 0 auto;
}

.row div{
    padding: 0;
}

.row div button {
    width: 100%;
}